<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>

    <script src="js/goods.js"></script>
    <script src="js/shoppingCart.js"></script>
    <link rel="stylesheet" href="css/css.css">
</head>

<body>
    <div id="app">
        <router-view path="/goods" ref="ff"></router-view>
    </div>
</body>
<template id="goodsCont">
    <div id="container">
        <div id="header">
            <span>派送至：</span>
            <span><select>
                <option>北京石景山</option>
            </select></span>
            <span class="glyphicon glyphicon-search"></span>
        </div>
        <div id="content" class="clearfix">
            <ul id="main-nav">
                <li v-for='item,index in navList' @click="choosed(index)"><a :class="{'active':index==currentIndex}" href="javaScript:;">{{item.title}}</a>
                </li>
            </ul>
            <div id="main-product">
                <ul class="nav_head">
                    <li>综合排序</li>
                    <li>按价格</li>
                    <li>分类</li>
                </ul>
                <div class="product_list clearfix" v-for="o,i in navList[currentIndex].goodsList">
                    <div class="product_img"><img :src="o.img"></div>
                    <div class="product_item">
                        <div class="product_infor">{{o.infor}}</div>
                        <div class="product_prices clearfix">
                            <div class="product_price">￥{{o.price}}</div>
                            <div class="product_num ">
                                <span class="minus" @click="minus(o)">-</span>
                                <i class="number">{{o.num || 0}}</i>
                                <span class="plus" @click="plus(o)">+</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="total">{{total}}</div>
            <div class="close-account"><router-link :to="{name:'shoppingcart',params:{selectList,total}}">去结算</router-link></div> 
        </div>
    </div>
</template>

<template id="shopping-cart">
        <div id="container">
            <div id="shop-header">
                <router-link to="/goods"><</router-link>
                确认订单
            </div>
            <div id="shop-contbg">
                <div class="shop-cont">
                    <div class="shop-goods">
                        <h4>店铺</h4>
                        <ul>
                            <li v-for="item in $route.params.selectList">
                                <div class="shop-goods-img"><img :src="item.img"></div>
                                <div class="shop-goods-title">{{item.infor.substring(0,10)}}</div>
                                <div class="shop-goods-num">x{{item.num}}</div>
                                <div class="shop-goods-total">￥{{(item.num*item.price).toFixed(2)}}</div>
                            </li>
                        </ul>
                        <div class="shop-goods-account">
                            <span>小计￥</span><span class="alltotal">{{$route.params.total}}</span>
                        </div>
                    </div>
                    <div class="lastPrice">￥{{$route.params.total}}</div>
                </div>
            </div>
        </div>
</template>
<script>
    var router = new VueRouter({
        routes: [{
            path: '/goods',
            name: 'goods',
            component: Goods
        }, {
            path: '/shoppingcart',
            name: 'shoppingcart',
            component: ShoppingCart
        }]
    })



    var vm = new Vue({
        el: '#app',
        router,
        component: {
            Goods,
            ShoppingCart
        }


    })
</script>

</html>