<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        
        ul li {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin-left: 10px;
            border: 1px solid #ccc;
        }
        
        .active {
            transform: scale(1.2, 1.2);
            transition: all .3s;
            background-color: orange;
            border: 1px solid orange;
        }
    </style>
</head>

<body>
    <div id="app">
        {{value111}}
        <el-pingfen v-model="value111" disabled></el-pingfen><br>
        <el-pingfen v-model="value111"></el-pingfen>
    </div>
    <template id="rata">
        <div>
            <ul>
                <li v-for='i in max' :class="{active:currentIndex>=i}" @mouseover="add(i)" @mouseout="remove" @click="click"></li>
                <!-- <span>{{texts}}</span> -->
            </ul>
        </div>
    </template>
    <script>
        Vue.component('elPingfen', {
            template: '#rata',
            props: {
                value: {
                    type: Number,
                    default: 0,
                },
                max: {
                    type: Number,
                    default: 5,
                },
                disabled: {
                    type: Boolean,
                    default: false,
                },
                // texts:{
                //     type:Array,
                //     default:function(){
                //         return []
                //     }
                // }
            },
            watch: {
                activeIndex(v1) {
                    this.$emit('input', v1);
                }
            },
            data() {
                return {
                    activeIndex: this.value,
                    currentIndex: this.value,
                }
            },
            methods: {
                add(i) {
                    if (this.disabled) return;
                    this.currentIndex = i
                },
                remove() {
                    if (this.disabled) return;
                    this.currentIndex = this.activeIndex;
                },
                click() {
                    if (this.disabled) return;
                    this.activeIndex = this.currentIndex;
                }
            },
        })
        new Vue({
            el: '#app',
            data: {
                value111: 3,
            },
        })
    </script>
</body>

</html>