<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        * {
            box-sizing: border-box;
        }
        
        td {
            width: 100px;
            height: 40px;
            border: 1px solid #ccc;
            text-align: center;
            line-height: 40px;
            box-sizing: border-box;
            font-size: 14px;
        }
        
        .zhu>td {
            position: relative;
        }
        
        input {
            width: 100%;
            height: 38px;
            border: none;
            display: none;
            position: absolute;
            left: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <div id="app">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
                <tr>
                    <td style="width: 400px">品名</td>
                    <td>数量</td>
                    <td>单价(元)</td>
                    <td style="width: 400px" :rowspan="ha+1 ">
                        <table border="0" cellspacing="0" cellpadding="0" class="table2">
                            <tr style="height:23px">
                                <td colspan="10" style="height:20px; line-height: 20px;">金额</td>
                            </tr>
                            <tr style="height:23px">
                                <td>万</td>
                                <td>千</td>
                                <td>百</td>
                                <td>十</td>
                                <td>元</td>
                                <td>角</td>
                                <td>分</td>
                            </tr>
                            <tr v-for="amount,index in aomLiat" style="height:42px">
                                <!-- <td>{{arr[index].price*arr[index].number}}</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td> -->
                                <td v-for="a in amount">{{a}}</td>
                            </tr>
                        </table>
                    </td>
                    <td>备注</td>
                    <tr v-for="product,index in arr" class="zhu">
                        <td @click.self="showInput">{{product.name}}<input type="text" v-model="product.name" style="width: 200px" @blur="hideInput"></td>
                        <td @click.self="showInput">{{product.number}}<input type="text" v-model="product.number" @blur="hideInput"></td>
                        <td @click.self="showInput">{{product.price}}<input type="text" v-model="product.price" @blur="hideInput"></td>
                        <td @click.self="showInput">{{product.remark}}<input type="text" v-model="product.remark" @blur="hideInput"></td>
                    </tr>
                    <tr>
                        <td>合计(大写)</td>
                        <td colspan="4">{{total|pL}}</td>
                    </tr>
            </tbody>
        </table>
    </div>
</body>
<script>
    new Vue({
        el: "#app",
        data: {
            arr: [{
                name: '1',
                number: '',
                price: '',
                remark: ''
            }, {
                name: '1',
                number: '',
                price: '',
                remark: ''
            }, {
                name: '1',
                number: '',
                price: '',
                remark: ''
            }],
        },
        filters: {
            pL(value) {
                var list1 = ['', '壹', '贰', '叁', '肆', '伍', '陆', '柒', '捌', '玖']
                var list2 = ['整元', '拾', '佰', '仟', '万', '拾', '佰', '仟', '亿']
                value += ''
                var a = '';
                for (var i = value.length; i > 0; i--) {
                    a += value.charAt(i - 1) == 0 ? '零' : list2[value.length - i]
                    a += list1[value.charAt(i - 1)];
                }
                return a.split("").reverse().join("");
            }
        },
        computed: {
            ha() {
                return this.arr.length;
            },
            aomLiat() {
                var arr1 = []
                this.arr.forEach(element => {
                    var a = element.price * element.number + '';
                    var b = 7 - a.length;
                    for (var i = 0; i < b; i++) {
                        a = ' ' + a
                    }
                    arr1.push(a)
                })
                return arr1
            },
            total() {
                var total = 0;
                this.arr.forEach(element => {
                    total += element.price * element.number
                })
                return total
            }
        },
        methods: {
            showInput(event) {
                event.target.children[0].style.display = 'block';
                event.target.children[0].focus();

                // this.arr[index][key]=true;
            },
            hideInput(event) {
                event.target.style.display = 'none';
            }
        }
    })
</script>

</html>