<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="layout.css">
    <script src="layout.js"></script>
    <script src="leftNav.js"></script>

    <link rel="stylesheet" href="mygrade.css">
    <script src="mygrade.js"></script>

    <link rel="stylesheet" href="clock.css">
    <script src="clock.js"></script>

    <script src="header.js"></script>

</head>

<body>
    <div id="app" v-cloak>
        <layout>
            <template slot="head-nav">
                <head-tab></head-tab>
            </template>
            <template slot="page-nav">
                <left-nav @addtab-event="addTab"></left-nav>
            </template>
            <router-view></router-view>
            <template slot="page-tab">
                <ul>
                    <li v-for="item,index in tabs">
                        <router-link :to="item.url">{{item.title}}<i @click.prevent="rmtab(index)">x</i></router-link>
                    </li>
                </ul>
            </template>
        </layout>

    </div>

    <!-- 评分 -->
    <template id="myGrade">
        <div class="grade">
            <ul>
                <li class="star" v-for="i in max" :class="{'active':currentIndex>=i|| ActiveIndex>=i}" @mouseover="addActive(i)"  @mouseout="rmActive" @click="definedActive"></li>
                <li>{{test1}}</li>
            </ul>
        </div>
    </template>

    <!-- 时钟 -->
    <template id="clock">
        <div class="clock">
            <div id="hours" :style="{transform:'rotate('+hoursDeg+'deg)'}"></div>
            <div id="minutes" :style="{transform:'rotate('+minutesDeg+'deg)'}"></div>
            <div id="seconds" :style="{transform:'rotate('+secondsDeg+'deg)'}"></div>
            <ul>
                <li v-for="i in 12" :style="{transform:'rotate('+i*30+'deg)'}">{{i}}</li>
            </ul>
        </div>
    </template>
</body>
<script>
    var abc = Vue.extend({
        template: '<div>abc</div>'
    })
    var num = Vue.extend({
        template: '<div>123</div>'
    })
    var router = new VueRouter({
        routes: [{
            path: '/mygrade',
            component: Mygrade
        }, {
            path: '/',
            component: Clock
        }, {
            path: '/abc',
            component: abc
        }, {
            path: '/num',
            component: num
        }]
    })

    new Vue({
        el: '#app',
        router,
        components: {
            'left-nav': leftNav,
            'head-tab': headTab
        },
        data: {
            tabs: []
        },
        methods: {
            rmtab(index) {
                if (index == this.tabs.length - 1) {
                    if (this.tabs.length == 1) {
                        this.tabs.splice(index, 1)
                        setTimeout(() => {
                            this.$router.push('/')
                        }, 0)
                    } else {
                        this.tabs.splice(index, 1)
                        setTimeout(() => {
                            this.$router.push(this.tabs[index - 1].url)
                        }, 0)
                    }
                } else {
                    this.tabs.splice(index, 1)
                    this.$router.push(this.tabs[index].url)
                }
            },
            addTab(item) {
                var isAdd = true;
                this.tabs.forEach(i => {
                    if (item.title == i.title) {
                        isAdd = false;
                    }
                });
                if (isAdd) {
                    this.tabs.push(item);
                }
            }
        }
    })
</script>

</html>