<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="js/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	</head>
	<body>
		<div id="app">
			{{val}}
			<number v-model="val" :min="1" :max="10" :step="1"></number>
			{{vala}}
			<number v-model="val1" :min="1" :max="10" :step="2"></number>
		</div>
		<template id="tl-number">
			<div>
				<button @click="reduce">-</button>
				<input type="text" v-model="vtext"/>
				
				<button @click="plus">+</button>
			</div>

		</template>
		<script type="text/javascript">
			Vue.component('number',{
					template:"#tl-number",
					props:['val','min','max','step'],
					data(){
						return{
							vtext:this.val || 1
						}
					},
					watch:{
						vtext(a){
							this.$emit('change',a);
							this.$emit('input',a)
						}
					},
					methods:{
						plus(){
							this.vtext+=this.step || 1
							if (this.vtext>=this.max) {
								this.vtext=this.max
							}
						},
						reduce(){
							this.vtext-=this.step || 1
							if (this.vtext<=this.min) {
								this.vtext=this.min
							}
						}
					}
			})
			new Vue({
				el:'#app',
				data:{
					val:1,
					val1:1
				}
			})
		</script>
	</body>
</html>