<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="font/font_c9ayasi32b/iconfont.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="style/钟表.css">
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <script src="luyou.js"></script>
    <link rel="stylesheet" href="style/index.css">



    <title>Document</title>
</head>
<style>

</style>

<body>
    <div id="app">
        <title1></title1>
        <leftnav></leftnav>
        <main1>
            <zb></zb>
            <fenye></fenye>
            <!-- <pingfen></pingfen> -->
        </main1>
        <!-- 禁用
        <pingfen :max="5" :disabled='true'></pingfen>
        可用
        <pingfen :max="5" :disabled="false"></pingfen> -->
    </div>
    <template id="title">
            <div class="warp">
                    <div class="title">
                        <div class="logo">
                            <a href="">L-admin v2.0</a>
                        </div>
                        <div class="left_open">
                            <span class="icon iconfont" style="color: white" title="展开左侧栏" @click="showleft">&#xe634;</span>
                        </div>
                        <ul class="layui-nav">
                            <li class="layui-nav-item">
                                <a>admin<span class="icon iconfont">&#xe615;</span></a>
                            </li>
                            <div class="login">
                                <li>个人信息</li>
                                <li>切换账号</li>
                                <li>退出</li>
                            </div>
                        </ul>
                    </div>
                </div>
    </template>
    <template id="leftnav">
            <div class="left" v-if="show">
                    <ul>
                        <li v-for="(item,index) in arr" id="ha" @click="showItem(item)" style="transition: all 0.8s">
                            <span class="icon iconfont" v-html=item.img></span>
                            
                            <span>{{item.name}}</span>
                            <span class="icon iconfont" v-html=item.font id="xi"></span>
                            <ul v-if="item.isshow" @click="leftCon(index)">
                                <li v-for="i,index in item.con" id="cont" @click.stop="ccc(i)">{{i.text}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
    </template>
    <template id="main">
            <div id="con">
                <div class="abc">
                    <ul>
                        <li>
                            <span class="icon iconfont">&#xe656;</span>
                            我的桌面
                        </li>
                        <li v-for="i,index in arr11">{{i}} <span @click.prevent="rmres(i)">x</span></li>
                    </ul>
            </div>
                <router-view class="view"></router-view>   
           
            </div>
    </template>
    <template id="zb">
        <div>
            <div class="box" id="zb">
                <div class="clock hour" :style="{transform:'rotate('+hour+'deg)'}"></div>
                <div class="clock miute" :style="{transform:'rotate('+miute+'deg)'}"></div>
                <div class="clock second" :style="{transform:'rotate('+second+'deg)'}"></div>
            </div>
        </div>
    </template>
    <template id="fenye">
        <div>
                <ul id="fy">
                        <li @click="first">首页</li>
                        <li @click="prev">上一页</li>
                        <li v-show="leftt">...</li>
                        <li v-for="i,index in maxpagesize" @click="zhh(firstPage+index)" :class="{active:firstPage+index==currentPage}" id="oli">{{firstPage+index}}</li>
                        <li v-show="rightt">...</li>
                        <li>{{pages}}</li>
                        <li @click="next">下一页</li>
                        <li @click="last">尾页</li>
            
                </ul>
        </div>
            
    </template>
    <template id="pingfen">
        <div>
                <ul id="pf">
                        <li v-for="i in max" @mouseover="yiru(i)" :class="{active:currentindex>=i||activeindex>=i}" @mouseout="yichu" @click="dian(i)"   ></li>
                        {{text}}
                </ul>
        </div>
    </template>
</body>

<script src="js/钟表.js"></script>
<script src="js/fenye.js"></script>
<script src="js/pingfen.js"></script>

<script>
    var res = []
    var routes = [{
        path: '/',
        component: app
    }, {
        path: '/fenye',
        component: fenye
    }, {
        path: '/pingfen',
        component: pingfen
    }]
    var router = new VueRouter({
        routes
    })



    Vue.component('fenye', {
        template: '#fenye'
    })
    Vue.component('zb', {
        template: '#zb'
    })
    Vue.component('pingfen', {
        template: '#pingfen'
    })

    Vue.component('main1', {
        template: '#main',
        data() {
            return {
                arr11: res
            }
        },
        methods: {
            rmres(i) {
                res.splice(i, 1)
            }
        },
    })
    Vue.component('leftnav', {
        template: '#leftnav',
        data() {
            return {
                show: true,


                arr: [{
                    img: '&#xe622;',
                    name: '主页',
                    font: '&#xe615;',
                    isshow: false,
                    con: [{
                        text: '分页器',
                        url: '/fenye',
                        lcon: [{
                            aa: 'aa'
                        }]
                    }, {
                        text: '华容道',
                        url: '/e',
                        lcon: [{
                            aa: 'aa'
                        }]
                    }, {
                        text: '评分',
                        url: '/pingfen',
                        lcon: [{
                            aa: 'aa'
                        }]
                    }]
                }, {
                    img: '&#xe622;',
                    name: '基本元素',
                    font: '&#xe615;',
                    isshow: false,
                    con: [{
                        text: '控制台',
                        lcon: [{
                            aa: 'aa'
                        }]
                    }]
                }]
            }
        },
        methods: {
            showItem(item) {
                item.isshow = !item.isshow;
            },
            ccc(i) {
                var isadd = true
                this.$router.push({
                    path: i.url
                })
                res.forEach(iq => {
                    if (res[iq] == i.text) {
                        isadd = false
                    }
                })
                if (isadd) {
                    res.push(i.text)
                }
            },
        },
    })
    Vue.component('title1', {
        template: '#title',
        methods: {
            showleft() {
                this.show = !this.show;
                if (!this.show) {
                    con.style.left = "0"
                    con.style.width = "100%"
                } else {
                    con.style.left = "220px"
                    con.style.width = "0"

                }

            },
        },
    })
    new Vue({
        el: '#app',
        router,
        data: {
            indexs: 0,
            isshow: false,
            // tabs: [{
            //     url: '',
            //     title: ''
            // }]


        },
    })
    console.log(res)
</script>

</html>