*{padding: 0; margin: 0; list-style: none; text-decoration: none;}

.admin_container{width: 100%; height: auto;}
.admin_header{
	width: 100%;
	height: 45px;
    background-color: rgb(17, 17, 17);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 99;
}
.admin_header-left{
	width: 208px;
	height: 35px;
	font-size: 18px;
	color: white;
	margin-left: 22px;
	line-height: 45px;
	position: absolute;
	top: 0;
	
}

.admin_header-right{
	width: 83%;
    height: 45px;
    line-height: 45px;
    color: rgb(204, 204, 204);
    position: absolute;
    top: 0;
    left: 17%;
	
}
.admin_header-right i {
    width: 32px;
    height: 32px;
    display: block;
    margin-top: 8px;
    text-indent: 2px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s;
    user-select: none;
    float: left;
    color: white;
    background: rgb(41,41,41);
}
.admin_header-right i:hover{
	background: rgb(89,89,89);
}

.admin_header-right span{
	position: absolute;
	right: 30px;
	font-size: 14px;
}
.admin_menu{
	width: 100%;height: 750px; 
	position: absolute; top: 45px;
}


.admin_menu-nav{
	width: 17%;
	height: 750px; 
	position: fixed;
	top: 45px;
	z-index: 9;
	overflow: hidden;
	background: rgb(34,35,36);
	color: rgb(142,142,142);
}


.admin_menu-nav li{
    width: 100%;
    height: 65px;
    line-height: 65px;
    text-indent: 36px;
    font-size: 14px;
    transition: 0.2s;
    cursor: pointer;
}
.admin_menu-nav li:hover{
	background: rgb(24,24,24);
}
.admin_menu-nav ul{
	
}


.admin_menu-content{
	width: 83%;
	height: 750px;
	
	position: absolute;
	left: 17%;
	float: left;
}
.admin_menu-content-header{
	width: 100%; height: 35px; background: rgb(239,238,230);
	line-height: 35px;
	position: fixed;
	top: 45px;
	z-index: 9;
}
.admin_menu-content-bottom{
	width: 96%; height: 300px; 
	margin-left: 2%;
	margin-top: 75px;
	
}
.admin_menu-ple{
	width: 100%; height: 65px; background: rgb(242,242,242); 
	border-left: 5px solid rgb(13,195,22);
	line-height: 65px; text-indent: 22px;
}
.admin_menu-name{
	width: 100%; height: 200px; 
	border-left: 5px solid transparent;
	border: 1px solid #C9C9C9;
	margin-top: 35px;
	display: flex;
}
.tian{
	width: 140px; height: 40px; background: white;
	position: absolute; top: -20px;
	line-height: 40px; text-align: center;
	font-size: 26px;
	left: 35px;
}
.admin_menu-name li{
	flex:1;
	height: 130px; background: rgb(230,230,230);
	margin-top: 50px;
	transition: all 0.2s;
}
.admin_menu-name li:nth-child(2){
	margin-left: 35px;
}

.admin_menu-name li:nth-child(3),.admin_menu-name li:nth-child(5){
	margin-left: 20px;
	margin-right: 20px;
}
.admin_menu-name li:nth-child(7){
	margin-left: 20px;
	margin-right: 35px;
}
.son_li{
	border-left: 5px solid rgb(66,184,241);
	display: none;
}
.admin_menu-name li:hover{
	background: rgb(207,207,207);
}
.active{
	border-left: 5px solid rgb(66,184,241);
}
.one_li{
	box-sizing: border-box;
	border-left: 5px solid rgb(40,43,51);
}

.one_li:hover{
	border-left: 5px solid rgb(66,184,241);
}

[v-cloak] {
	display: none;
}





		
			
			.clocks_container {
				width: 300px;
				height: 300px;
				background: url(https://i01piccdn.sogoucdn.com/75d5d8ee7cafaed8);
				background-size: 330px 330px;
				background-repeat: no-repeat;
				background-position: -10px -18px ;
				border-radius: 50%;
				position: relative;
				left: 100px;
			}
			
			.clocks_container .hour {
				width: 10px;
				height: 100px;
				background: #000;
				margin-left: -5px;
			}
			
			.clocks_container .minute {
				width: 8px;
				height: 120px;
				background: #000;
				margin-left: -4px;
			}
			
			.clocks_container .second {
				width: 6px;
				height: 140px;
				background: #000;
				margin-left: -3px;
			}
			
			.clocks_container .hand {
				position: absolute;
				left: 50%;
				bottom: 50%;
				transform-origin: center bottom;
			}
			
			.clocks_container .yi {
				width: 20px;
				height: 20px;
				background: black;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 11;
				margin-left: -10px;
				margin-top: -10px;
				border-radius: 50%;
			}
			
			.left {
				width: 20%;
				height: 1000px;
				background: thistle;
				float: left;
			}
			
			.right {
				width: 80%;
				height: 1000px;
				float: left;
				background: turquoise;
			}
			/*分页器*/
			
			.fen li {
				width: 60px;
				height: 40px;
				border: 1px solid;
				float: left;
				user-select: none;
				text-align: center;
				line-height: 40px;
			}
			
			.fen .ac {
				background: tan;
			}
			
			.fen .ww {
				border: solid #c9c9c9 1px;
				color: #C9C9C9;
			}
			
			.fen .ellipsis-right {
				position: absolute;
				left: 636px;
				background: thistle;
			}
			
			
			
			
			
			
			
			
			/*星星*/
			.xx .box{
				width: 500px; height: 300px; background: tan;
				margin: 20px auto;
			}
			.xx li{
				width: 30px; height: 30px; background: teal;
				float: left;
				margin: 6px;
			}
			
			.xx .active{
				background: tomato;
			}
			
			[v-cloak] {
				display: none;
			}
			

.son_li a{
	color: white;
	display: block;
}


.admin_menu-content-header li{
	width: 90px;
	float: left;
	font-size: 13px;
	text-align: center;
	line-height: 35px;
	background: white;
}


a{
	display: block;
}
.router-link-active {
				background: rgb(40,43,51);
			}