<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>

    </style>
</head>

<body>
    <div id="app">
        {{mag}}
        <inputnumber :value="mag" :min="0" :max="100" :step="1" @input="mag=$event"></inputnumber>
    </div>
    <!-- 组件模式 -->
    <template id="mg">
        <div>
             最小值：<input type="text" v-model='mins'><br>
             最大值：<input type="text" v-model='maxs'><br>
             步数：<input type="text" v-model='steps'><br>
            <button @click="sut">-</button>
            <input type="text" v-model="value1">
            <button @click="puls">+</button>
        </div>
    </template>
    <script>
        Vue.component('inputnumber', {
            template: '#mg',
            props: ["value", "min", "max", "step"],
            data() {
                return {
                    value1: this.value,
                    mins: this.min,
                    maxs: this.max,
                    steps: this.step,
                }
            },
            watch: {
                value1(value, oldvalue) {
                    this.$emit('input', value)
                    console.log('改变了')
                },
            },
            methods: {
                sut() {
                    this.value1 -= Number(this.steps);
                    if (this.value1 < this.mins) {
                        this.value1 = this.mins
                    }
                },
                puls() {
                    this.value1 += Number(this.steps);
                    if (this.value1 > this.maxs) {
                        this.value1 = this.maxs
                    }
                }
            },
        })
        var vm = new Vue({
            el: '#app',
            data: {
                mag: 10,
            },
        })
    </script>

</body>

</html>