* {
    padding: 0;
    margin: 0;
    list-style: none;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

#container {
    width: 450px;
    min-height: 640px;
    border: 1px solid #ccc;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}

#header {
    height: 50px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border-bottom: 1px solid #ccc;
}

#main-nav {
    width: 120px;
    border-right: 1px solid #ccc;
    text-align: center;
    float: left;
}

#main-nav li {
    height: 40px;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
    font-size: 18px;
}

#main-nav li a {
    display: block;
    text-decoration: none;
    color: black;
}

.active {
    border-left: 3px solid salmon;
}

.product_num span {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.product_num .number {
    display: inline-block;
    font-style: normal;
    min-width: 20px;
    text-align: center
}

#main-product {
    float: left;
}

.nav_head {
    width: 328px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: flex;
    border-bottom: 1px solid #ccc;
    margin: 0;
}

.nav_head li {
    flex: 1;
    float: left;
    font-size: 18px;
}

.product_list {
    height: 80px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    box-sizing: border-box;
}

.main-product {
    width: 328px;
    float: left;
}

.product_img {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 10px;
}

.product_img img {
    width: 100%;
    height: 100%;
}

.product_prices {
    margin-bottom: 5px;
}

.product_price {
    float: left;
    color: sandybrown;
}

.product_num {
    float: right;
}

.product_item {
    padding: 0 10px;
}

.footer {
    background-color: rgb(130, 130, 201);
    height: 50px;
    position: absolute;
    width: 448px;
    bottom: 0;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
}

.footer .total {
    width: 300px;
    height: 50px;
    float: left;
}

.footer .close-account {
    width: 148px;
    float: left;
    height: 50px;
    background-color: rgb(99, 135, 252);
}

.footer a {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
}

#shop-header a {
    color: rgb(99, 99, 238);
    font-size: 20px;
    margin-right: 20px;
}

#shop-header {
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #e8e8e8;
    padding-left: 10px;
}

#shop-contbg {
    min-height: 600px;
    background: radial-gradient( at right top, rgb(52, 126, 245), #fff 80%);
    padding: 10px 5px;
}

.shop-cont {
    height: 580px;
    background-color: #fff;
    padding: 0 10px;
    position: relative;
}

.shop-cont h4 {
    height: 50px;
    line-height: 50px;
    border-bottom: 2px solid #ccc;
}

.shop-goods ul li {
    list-style-type: none;
    height: 50px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

.shop-goods ul li>div {
    float: left;
}

.shop-goods-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.shop-goods-img img {
    width: 100%;
    height: 100%;
}

.shop-goods-num {
    width: 100px;
    text-align: center;
}

.shop-goods-total {
    width: 140px;
    text-align: right;
}

.shop-goods-account {
    height: 50px;
    line-height: 50px;
    text-align: right;
    padding-right: 50px;
    border-bottom: 2px solid #ccc;
}

.shop-goods-account .alltotal {
    font-size: 18px;
}

.lastPrice {
    width: 438px;
    height: 50px;
    line-height: 50px;
    background-color: cadetblue;
    padding-left: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}