.box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 100px auto;
    position: relative;
    background: url(http://img1.imgtn.bdimg.com/it/u=4060837773,2546275730&fm=26&gp=0.jpg);
    background-size: 400px 400px;
    background-position: -50px -50px;
}

.box::before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background: black;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    z-index: 2;
}

.clock {
    position: absolute;
    left: 50%;
    transform-origin: center bottom;
}

.hour {
    width: 10px;
    height: 70px;
    background: black;
    margin-left: -5px;
    top: 80px
}

.miute {
    width: 8px;
    height: 90px;
    background: blue;
    margin-left: -4px;
    top: 60px
}

.second {
    width: 6px;
    height: 110px;
    background: red;
    margin-left: -3px;
    top: 40px
}