<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>后台管理-L-admin</title>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/vue.js"></script>
    <link rel="stylesheet" href="./style/style.css">
    <script src="./js/arr.js"></script>
    <link rel="stylesheet" href="./font_1222882_reaajjoamln/iconfont.css">
</head>

<body>
    <div id="app">
        <header class=" container color1">
            <div class="col-md-2 fl">L-admin V2.0</div>
            <ul class="clearfix">
                <li class="fl" @click='hide' style="cursor:pointer"><span class="iconfont color">&#xe60b;</span></li>
                <li class="fl" @mouseout='show' @mouseover='look' style="position:relative;">
                    <a href="javascript:;" class="color"> +新增 <i class="iconfont" v-html=logo></i></a>
                    <ol v-show='active' class="style">
                        <li><a href="javascript:;">咨询</a> </li>
                        <li><a href="javascript:;">图片</a></li>
                        <li><a href="javascript:;">用户</a></li>
                    </ol>
                </li>
                <li class="fr">
                    <a href="javascript:;" class="color">前台首页</a>
                </li>
                <li class="fr" @mouseout='show1' @mouseover='look1'>
                    <a href="javascript:;" class="color"> admin <i class="iconfont" v-html=logo1></i></a>
                    <ol v-show='active1' class="style">
                        <li><a href="javascript:;">咨询</a></li>
                        <li><a href="javascript:;">图片</a></li>
                        <li><a href="javascript:;">用户</a></li>
                    </ol>
                </li>
            </ul>

        </header>
        <main>
            <div class="left" :class='{isShow: isShow}'>
                <ul v-for='i,index in arr'>
                    <a href="javascript:;" @click='list(index)' >
                        <li :class='{br:index==subscript_list}'>
                            <i class="iconfont" v-html=i.icon></i>{{i.type}} <i class="iconfont fr"  v-html='logo2'></i>
                            <div class="hide" :class='{show:index==subscript_list}'>
                                <ul v-for='i,index in arr[index].lists'>
                                    <li> <i class="iconfont">&#xe644;</i> {{i}}</li>
                                </ul>
                            </div>
                        </li>
                        
                    </a>
                </ul>
            </div>
            <div class="right" :class='{isShow: isShow}'>
dddd
            </div>
        </main>
    </div>

</body>
<script src="./js/JavaScript.js"></script>
</html>