<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div id="container">

            <!-- 头部 -->
            <div id="header" class="clearfix">
                <div class="logo">
                    <a href="index.html">L-admin v2.0</a>
                </div>
                <div class="left_open">
                    <span @click="shrink" class="glyphicon glyphicon-th-list open_left" title="展开左侧栏"></span>
                </div>
                <div @mouseover="tanchu2" @mouseout="tanchuout" class="layui_nav left clearfix">
                    <div class="layui_nav_item">
                        <a href="javascript:;">
                                + 新增
                            </a>
                        <span class="glyphicon glyphicon-triangle-bottom more"></span>
                    </div>
                    <ul class="new" id="newMenu">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-list-alt"></span> 资讯
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-picture"></span> 图片
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-user"></span> 用户
                            </a>
                        </li>
                    </ul>

                </div>
                <div @mouseover="tanchu1" @mouseout="tanchuout" class="layui_nav right clearfix">
                    <div class="layui_nav_item">
                        <a href="javascript:;">
                            admin
                        </a>
                        <span class="glyphicon glyphicon-triangle-bottom more"></span>
                    </div>
                    <ul class="new" id="act">
                        <li>
                            <a href="#">
                                个人信息
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                切换账号
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 头部over -->

            <!--主体 -->
            <div id="content" class="clearfix">
                <!-- 左边导航 -->
                <div id="main_left">
                    <div id="side_nav">
                        <ul id="nav">
                            <li ref="li" v-for="item,index in list" @click.self="choosed(index)" :class="{'active':hoverIndex==index}">
                                <a href="javascript:;">{{item.main_nav}}</a>
                                <span class="glyphicon glyphicon-menu-right"></span>
                                <ul class="sencond_nav">
                                    <li @click="menu(o,i)" v-for="o,i in item.second_nav">
                                        <span class="glyphicon glyphicon-menu-right s-right"></span>
                                        <a href="javascript:;">{{o}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 左边导航 over-->

                <!-- 右边内容 -->
                <div id="main_right">
                    <div id="head_nav" class="clearfix">
                        <div class="my">
                            <span class="glyphicon glyphicon-home"></span> 我的桌面
                        </div>
                        <ul class="menu_list clearfix">
                            <li v-for="o,i in menuList">
                                <span>{{o}}</span>
                                <span class="glyphicon glyphicon-remove"></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 右边内容over -->
            </div>
            <!-- 主体over -->
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            hoverIndex: '',
            on: false,
            isShrink: false,
            list: [{
                main_nav: '主页',
                second_nav: [
                    '控制台'
                ]
            }, {
                main_nav: '基本元素',
                second_nav: [
                    '图标字体',
                    '表单元素',
                    '表单组合',
                    '按钮',
                    '导航/面包屑',
                    '选项卡',
                    '进度条',
                    '面板',
                    '微章',
                    '时间线'
                ]
            }, {
                main_nav: '组件页面',
                second_nav: [
                    '文件上传',
                    '分页',
                    '多级分类',
                    '轮播图',
                    '城市三级联动'
                ]
            }, {
                main_nav: '排版布局',
                second_nav: [
                    '栅格',
                    '排版'
                ]
            }, {
                main_nav: '订单管理',
                second_nav: [
                    '订单列表'
                ]
            }, {
                main_nav: '管理员管理',
                second_nav: [
                    '管理员列表'
                ]
            }, {
                main_nav: '用户管理',
                second_nav: [
                    '会员列表',
                    '会员删除',
                    '会员管理'
                ]
            }, {
                main_nav: '系统统计',
                second_nav: [
                    '拆线图',
                    '柱状图'
                ]
            }],
            menuList: []
        },
        methods: {
            choosed(index) {
                if (index == this.hoverIndex) {
                    this.on = !this.on;
                } else {
                    this.on = true;
                }
                this.hoverIndex = index;
                console.log();
                if (this.on) {
                    for (var i = 0; i < this.$refs.li.length; i++) {
                        this.$refs.li[i].children[2].style.display = "none";
                    }
                    this.$refs.li[index].children[2].style.display = "block";
                    this.$refs.li[index].children[1].className = "glyphicon glyphicon-menu-down";
                } else {
                    for (var i = 0; i < this.$refs.li.length; i++) {
                        this.$refs.li[i].children[2].style.display = "none";
                    }
                    this.$refs.li[index].children[1].className = "glyphicon glyphicon-menu-right";
                }
            },
            shrink() {
                this.isShrink = !this.isShrink;
               if (this.isShrink) {
                    main_left.style.transform = "translateX(-220px)";
                    main_right.style.left = "0";
                } else {
                    main_left.style.transform = 'translateX(0)';
                    main_right.style.left = "220px";
                }

            },
            menu(o, i) {
                if (this.menuList.indexOf(o) == -1) {
                    this.menuList.push(o);
                }
            },
            tanchu1() {
                act.style.display = "block";
            },
            tanchu2() {
                newMenu.style.display = "block";


            },
            tanchuout() {
                act.style.display = "none";
                newMenu.style.display = "none";
            }

        }
    })
</script>

</html>
